.diagram{
  background-color: #18191D;

  .node{
    background-color: #24252A;
    border: 3px solid #3B3D44;
    color: white;
    border-radius: 6px;

    & > .header{
      background-color: #3B3D44;
      height: 30px;

      .header-text{
        display: inline-block;
        padding: 3px 0 0 7px;
        font-size: 17px;
        font-weight: bold;
      }
    }

  }

  .edge{
    stroke: #FFFFFF;
    stroke-width: 2px;
  }

}
