.diagram{
  background-color: #434343;

  .node{
    background-color: #434343;
    border: 4px solid #FFFFFF;

    .header{
      background-color: #FFFFFF;
      height: 30px;
    }

    .header-text{
      transform: translate(7px, 20px);
      font-size: 18px;
      font-weight: bold;
    }
  }

  .edge{
    stroke: #FFFFFF;
    stroke-width: 2px;
  }

}
