.diagram{
  .node{
    & > rect{
      fill: #434343;
      stroke: #FFFFFF;
      stroke-width: 4px;
    }

    .header-bg{
      fill: #FFFFFF;
      stroke-width: 0;
    }

    .header-text{
      transform: translate(7px, 20px);
      font-size: 18px;
      font-weight: bold;
    }
  }

  .edge{
    stroke: #FFFFFF;
    stroke-width: 2px;
  }

}
