@pane-background: #404040;
@pane-background-secondary: #575757;
@pane-color: #f8f8f8;

html, body{
  font-family: 'Arial Nova';
}

.pane{
  background: @pane-background;
  color: @pane-color;
}

.pane-secondary{
  background: @pane-background-secondary;
  color: @pane-color;
}
