@pane-background: #141519;
@pane-color: #FFFFFF;

html, body{
  font-family: 'Arial Nova';
}

.pane{
  background: @pane-background;
  color: @pane-color;
}

.blured-bg{
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(33px);
}

.btn{
  @bg: #3B3D44;
  @bg-primary: #23BB72;
  border: none;
  border-radius: 6px;
  background-color: @bg;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.1s;
  &:focus{
    outline: 1px solid #23BB72;
  }
  &:hover{
    background-color: lighten(@bg, 10%);
  }
  &:active{
    opacity: 0.6;
  }
  &.primary{
    background-color: @bg-primary;
    &:hover{
      background-color: lighten(@bg-primary, 10%);
    }
  }
}

.vm--overlay{
  backdrop-filter: blur(8px);
}
.vm--modal{
  background-color: #2C2D33 !important;
  border-radius: 12px !important;
  color: white !important;
  box-shadow: none !important;
  @pad: 18px;
  & > .header{
    font-size: 17px;
    padding: @pad;
    border-bottom: 1px solid #141519;
  }
  & > .body{
    padding: @pad;
    font-size: 16px;
  }
  & > .buttons{
    padding: @pad;
    text-align: right;
  }
}

::-webkit-scrollbar { width: 8px; height: 3px; }
::-webkit-scrollbar-button { background-color: #666; display: none; }
::-webkit-scrollbar-track {  background-color: #646464; border-radius: 4px; }
::-webkit-scrollbar-track-piece { background-color: #111; border-radius: 4px;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
